<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world</h1>
    <div class="container">
      <button>Generate Data</button>
    </div>

    <script>
      document
        .querySelector(".container>button")
        .addEventListener("click", async () => {
          console.log("data will be generate Through this click");
          let a = await fetch("/generate");
          let r = await a.json();
          console.log(r);
        });
    </script>
  </body>
</html>
